.jumbotron bg {
  background-position: center;
  height: 100%;
}

@media (min-width: 800px) {
  .font-res {
    padding-top: 150px;
  }
}

@media (min-width: 300px) {
  .fonthp {
    text-align: center;
    font-size: 25px;
  }
}

@media (min-width: 992px) {
  .fonthp {
    font-size: 30px;
    text-align: left;
  }
}

@media (min-width: 300px) {
  .imghp {
    padding: 10px;
  }
}

@media (min-width: 992px) {
  .imghp {
    padding: 40px;
  }
}

@media (min-width: 1200px) {
  .h1res {
    margin-top: 80px;
    font-size: 60px;
    text-align: left;
  }
}

@media (max-width: 992px) {
  .h1res {
    margin-top: 35px;
    text-align: left;
    font-size: 45px;
  }
}

@media (max-width: 600px) {
  .h1res {
    text-align: center;
  }
}

.pres {
  font-size: large;
}

@media (max-width: 600px) {
  .pres {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .h1res {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .btn.btn-primary {
    margin-left: 40%;
  }
}

@media (max-width: 400px) {
  .btn.btn-primary {
    margin-left: 35%;
  }
}

